.BettingUI {
  width: 100%;
  margin: 0;
  padding: 40px;
}

.BetInputWrapper {
  overflow: hidden;
  display: inline-block;

  outline: none;

  padding: 10px;

  & > * {
    vertical-align: middle;
  }

  & button {
    margin-left: 10px;
  }
}

/*


.UILeft {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-top: -40px;
}

.UIRight {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-top: -40px;
}*/

.Currency {
  padding: 10px;
}

.Balance {
  color: #00c853;
}