.Moderation {
  padding: 10px;
  border-top: 2px solid #00c853;
  border-radius: 2px;

  & h1 {
    font-size: 30px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
}

.ModerationRacerInput {
  display: inline-block;
  overflow: hidden;

  outline: none;

  & > * {
    vertical-align: top;
    margin: 0;
  }

  & input {
    width: 200px;
  }
}

.WinnerWrapper {
  display: inline-block;
  overflow: hidden;

  outline: none;

  margin: 0;
  padding: 0;
  margin-top: 20px;
  
  & > * {
    vertical-align: top;
  }
}